.title{
    display: flex;
}
img{
    margin-left:200px;
    width: 150px;
    height: 150px;
}
.in4{
    font-family: Arial;
    width: 500px;
    text-align: center;
}
.image{
    display: inline-block;
    width: 500px;
}
